#page-manager ,
ytd-search.style-scope.ytd-page-manager,
ytd-alert-renderer.style-scope.ytd-browse,
ytd-two-column-browse-results-renderer.style-scope.ytd-browse,
ytd-watch.style-scope.ytd-page-manager.hide-skeleton,
ytd-browse.style-scope.ytd-page-manager{
    background: rgb(58, 0, 17);
}
div#contents.style-scope.ytd-item-section-renderer,
ytd-two-column-browse-results-renderer.style-scope.ytd-browse,
ytd-two-column-browse-results-renderer.ytd-browse,
#top > #container{
    background:rgba(255, 255, 255, 0);
    background-color:rgba(255, 255, 255, 0);
    --yt-app-background : rgba(255,255,255,0);
    }
#masthead{
    background: rgb(110, 0, 33);
}
#guide-inner-content{
    background: rgb(128, 20, 43);
}

#search-form > #container{
    background: rgb(138, 70, 85);
}

ytd-playlist-sidebar-renderer.style-scope.ytd-browse{
    background: rgb(32, 0, 9);
}
div#header.ytd-multi-page-menu-renderer{
    background: rgb(104, 1, 30);
   }
   div#container.menu-container.ytd-multi-page-menu-renderer{
   background: rgb(32, 0, 9);
   }

/*home page colors*/
.ytd-guide-entry-renderer{
    color: rgb(219, 159, 169);
    
}
paper-button.style-scope.ytd-subscribe-button-renderer{
    background: rgb(146, 0, 37); /*subscribe buttons*/
}

span#title.style-scope.ytd-shelf-renderer,
yt-formatted-string#result-count.style-scope.ytd-search-sub-menu-renderer,
div.text.ytd-notification-renderer{
    color:rgb(212, 0, 71); /*big titles*/
}
h3.style-scope.ytd-grid-radio-renderer,
a#video-title.yt-simple-endpoint.style-scope.ytd-grid-video-renderer,
span#title.style-scope.ytd-grid-channel-renderer{
       color:rgb(230, 82, 107); /*my mixes titles,other video titles*/
}
yt-formatted-string#byline.style-scope.ytd-video-meta-block,
div#metadata-line.style-scope.ytd-grid-video-renderer,
span.style-scope.ytd-video-meta-block,
a.yt-simple-endpoint.yt-formatted-string:visited{
    color:rgb(235, 164, 179); /*my mixes metadata,info about video*/
}

/*video play colors*/
yt-formatted-string.style-scope.ytd-video-primary-info-renderer,
a#video-title.yt-simple-endpoint.style-scope.ytd-video-renderer,
span#video-title.ytd-playlist-video-renderer{
    color:rgb(170, 0, 65); /*video nimi*/
}

    span.view-count.style-scope.yt-view-count-renderer,
    span.date.style-scope.ytd-video-secondary-info-renderer,
    yt-formatted-string#description.content.style-scope.ytd-video-secondary-info-renderer,
    yt-formatted-string.content.content-line-height-override.style-scope.ytd-metadata-row-renderer
    {
        color:rgb(155, 153, 153); /*view count,
        video release date,
        video description,
        licence name,
        related videos view count*/
    }
div#upnext.style-scope.ytd-compact-autoplay-renderer,
div#autoplay.style-scope.ytd-compact-autoplay-renderer{
    color:rgb(192, 0, 58);
}/*autoplay, next*/
span#video-title.style-scope.ytd-compact-video-renderer,
span#video-title.style-scope.ytd-compact-radio-renderer{
    color:rgb(196, 5, 69);/*related videos/mixes titles*/
}


yt-formatted-string.count-text.style-scope.ytd-comments-header-renderer{
    color:rgb(165, 5, 66);/*comment count*/
}
div#icon-label.style-scope.yt-dropdown-menu,
path.style-scope.yt-icon,
yt-formatted-string.style-scope.yt-next-continuation,
yt-formatted-string#text.style-scope.ytd-button-renderer,
span#vote-count-left.style-scope.ytd-comment-action-buttons-renderer,
paper-button.align-by-text.style-scope.ytd-comment-replies-renderer,
yt-formatted-string#text.style-scope.ytd-toggle-button-renderer.style-text,
yt-formatted-string.less-button.style-scope.ytd-video-secondary-info-renderer,
h4#title.style-scope.ytd-metadata-row-renderer,
yt-formatted-string.more-button.style-scope.ytd-video-secondary-info-renderer
{
    color:rgb(165, 119, 133);/*comment sort,
     icons,
     show more,
     comment button text,
     comment vote count,
     show replys button,
     like/dislike count,
     kuva vähem(description),
     kategooria,
     litsents,
     kuva rohkem(description)*/
}

yt-formatted-string#simplebox-placeholder.style-scope.ytd-comment-simplebox-renderer,
textarea#textarea.style-scope.iron-autogrow-textarea{
    color:rgb(168, 164, 164);;/*your comment*/
}

span.style-scope.ytd-comment-renderer,
a.yt-simple-endpoint.style-scope.yt-formatted-string{
    color: rgb(206, 1, 69);/*comment author, when commented, links ,channels under videos on main page*/
}
yt-formatted-string#content-text.style-scope.ytd-comment-renderer{
    color:rgb(168, 164, 164);;/*comment*/
}
/*channel page */
div#channel-container.style-scope.ytd-c4-tabbed-header-renderer,
div#tabs-inner-container.style-scope.ytd-c4-tabbed-header-renderer{
    background:rgb(63, 0, 16);
    /*channel name container*/
}

ytd-c4-tabbed-header-renderer {
    --yt-lightsource-section1-color: rgb(99, 1, 34);
    --yt-channel-header-background: none;
}
span#channel-title.style-scope.ytd-c4-tabbed-header-renderer{
   color: rgb(168, 89, 119); /*channel name*/
}
yt-formatted-string#subscriber-count.style-scope.ytd-c4-tabbed-header-renderer{
 color: rgb(148, 108, 118); /*supscriber count*/
}
div.tab-content.style-scope.paper-tab{
    color: rgb(238, 142, 171); /*navi nupud*/
}
div#label-text.style-scope.yt-dropdown-menu,
span.title.style-scope.ytd-mini-channel-renderer{
    color: rgb(255, 0, 98);
}
