
ytd-browse.style-scope.ytd-page-manager,
#page-manager ,
ytd-search.style-scope.ytd-page-manager,
ytd-alert-renderer.style-scope.ytd-browse,
ytd-two-column-browse-results-renderer.style-scope.ytd-browse,
ytd-watch.style-scope.ytd-page-manager.hide-skeleton {
    background: linear-gradient(to left, rgb(17, 23, 41) , rgb(173, 123, 126));
}
div#contents.style-scope.ytd-item-section-renderer,
ytd-two-column-browse-results-renderer.style-scope.ytd-browse,
ytd-two-column-browse-results-renderer.ytd-browse,
#top > #container{
    background:rgba(255, 255, 255, 0);
    background-color:rgba(255, 255, 255, 0);
    --yt-app-background : rgba(255,255,255,0);
    }
#masthead{
    background: rgb(17, 23, 41);
}
#guide-inner-content{
    background: rgb(173, 123, 126);
}

#search-form > #container{
    background: linear-gradient(to left, rgb(58, 70, 97) , rgb(238, 169, 172));
}
ytd-playlist-sidebar-renderer.style-scope.ytd-browse{
    background: rgb(173, 123, 126);/*playlist name*/

}
div#header.ytd-multi-page-menu-renderer{
    background: rgb(58, 70, 97);/*notification upper*/
   }
   div#container.menu-container.ytd-multi-page-menu-renderer{
   background: rgb(29, 39, 70);/*notification lower*/
   }
/*home page colors*/
.ytd-guide-entry-renderer{
    color: rgb(83, 53, 64);
    
}

paper-button.style-scope.ytd-subscribe-button-renderer
{
   
    background: rgb(238, 169, 172);
     /*subscribe buttons background*/
}
yt-formatted-string.style-scope.ytd-subscribe-button-renderer,
span.deemphasize.style-scope.yt-formatted-string{
   color: rgb(17, 23, 41); /*subscribe buttons text*/
}
span#title.style-scope.ytd-shelf-renderer,
yt-formatted-string#result-count.style-scope.ytd-search-sub-menu-renderer,
div.text.ytd-notification-renderer{
    color:rgb(253, 183, 187); /*big titles*/
}
h3.style-scope.ytd-grid-radio-renderer,
a#video-title.yt-simple-endpoint.style-scope.ytd-grid-video-renderer,
span#title.style-scope.ytd-grid-channel-renderer{
       color:rgb(253, 183, 187); /*my mixes titles,other video titles*/
}
yt-formatted-string#byline.style-scope.ytd-video-meta-block,
div#metadata-line.style-scope.ytd-grid-video-renderer,
span.style-scope.ytd-video-meta-block,
a.yt-simple-endpoint.yt-formatted-string:visited{
    color:rgb(226, 166, 170); /*my mixes metadata,info about video*/
}

/*video play colors*/
yt-formatted-string.style-scope.ytd-video-primary-info-renderer,
a#video-title.yt-simple-endpoint.style-scope.ytd-video-renderer,
span#video-title.ytd-playlist-video-renderer{
    color:rgb(255, 184, 188); /*video nimi*/
}
a.yt-simple-endpoint.style-scope.yt-formatted-string,
yt-formatted-string.content.style-scope.ytd-channel-video-player-renderer{
    color: rgb(173, 123, 126);
}
span.view-count.style-scope.yt-view-count-renderer,
span.date.style-scope.ytd-video-secondary-info-renderer,
yt-formatted-string#description.content.style-scope.ytd-video-secondary-info-renderer,
yt-formatted-string.content.content-line-height-override.style-scope.ytd-metadata-row-renderer
{
    color:rgb(230, 174, 186); /*view count,
    video release date,
    video description,
    licence name,
    related videos view count*/
}

div#upnext.style-scope.ytd-compact-autoplay-renderer,div#autoplay.style-scope.ytd-compact-autoplay-renderer{
    color:rgb(230, 174, 186);
}/*autoplay, next*/
span#video-title.style-scope.ytd-compact-video-renderer{
    color:rgb(230, 174, 186);/*related videos titles*/
}


yt-formatted-string.count-text.style-scope.ytd-comments-header-renderer,
span#video-title.style-scope.ytd-compact-radio-renderer{
    color:rgb(230, 174, 186);/*comment count, mix names*/
}
div#icon-label.style-scope.yt-dropdown-menu,
path.style-scope.yt-icon,
yt-formatted-string.style-scope.yt-next-continuation,
yt-formatted-string#text.style-scope.ytd-button-renderer,
span#vote-count-left.style-scope.ytd-comment-action-buttons-renderer,
paper-button.align-by-text.style-scope.ytd-comment-replies-renderer,
yt-formatted-string#text.style-scope.ytd-toggle-button-renderer.style-text,
yt-formatted-string.less-button.style-scope.ytd-video-secondary-info-renderer,
h4#title.style-scope.ytd-metadata-row-renderer,
yt-formatted-string.more-button.style-scope.ytd-video-secondary-info-renderer,
g.style-scope.yt-icon
{
    color:rgb(139, 88, 107);/*comment sort,
     icons,
     show more,
     comment button text,
     comment vote count,
     show replys button,
     like/dislike count,
     kuva vähem(description),
     kategooria,
     litsents,
     kuva rohkem(description)*/
}

yt-formatted-string#simplebox-placeholder.style-scope.ytd-comment-simplebox-renderer,
textarea#textarea.style-scope.iron-autogrow-textarea{
    color:rgb(230, 174, 186);/*your comment*/
}

span.style-scope.ytd-comment-renderer,a.yt-simple-endpoint.style-scope.yt-formatted-string{
    color: rgb(58, 70, 97);/*comment author, when commented, links ,channels under videos on main page*/
}
yt-formatted-string#content-text.style-scope.ytd-comment-renderer{
    color:rgb(230, 174, 186);/*comment*/
}
/*channel page */
div#channel-container.style-scope.ytd-c4-tabbed-header-renderer,
div#tabs-inner-container.style-scope.ytd-c4-tabbed-header-renderer{
    background: linear-gradient(to left, rgb(17, 23, 41) , rgb(173, 123, 126));
    /*channel name container*/
}

ytd-c4-tabbed-header-renderer {
    --yt-lightsource-section1-color: rgb(201,201,255);
    --yt-channel-header-background: none;
}
span#channel-title.style-scope.ytd-c4-tabbed-header-renderer{
   color: rgb(17, 23, 41); /*channel name*/
}
yt-formatted-string#subscriber-count.style-scope.ytd-c4-tabbed-header-renderer{
 color: rgb(32, 43, 77); /*supscriber count*/
}
div.tab-content.style-scope.paper-tab{
    color: rgb(32, 43, 77); /*navi nupud*/
}
div#label-text.style-scope.yt-dropdown-menu,
span.title.style-scope.ytd-mini-channel-renderer{
    color: rgb(173, 123, 126);/*channel names*/
}
a.yt-simple-endpoint.style-scope.yt-formatted-string{
    color:rgb(173, 123, 126); /*channel name on channel page under videos*/
}
yt-formatted-string#subtitle.can-be-empty.style-scope.ytd-shelf-renderer{
    color:rgb(173, 123, 126);
    /*text under big title on channel page*/
}