
#page-manager {
    background: linear-gradient(to right, red , yellow,rgb(0, 255, 0), cyan, blue, violet); 
}
#masthead{
    background: linear-gradient(to left, red , yellow,rgb(0, 255, 0), cyan, blue, violet); 
}
#guide-inner-content{
    background: linear-gradient(to bottom, red , yellow,rgb(0, 255, 0), cyan, blue, violet); 
}
#top > #container{
    background: linear-gradient(to top, red , yellow,rgb(0, 255, 0), cyan, blue, violet); 
}
#search-form > #container{
    background:blue;
}
/*home page colors*/
.ytd-guide-entry-renderer{
    color: black;
    }
span#title.style-scope.ytd-shelf-renderer{
    color:rgb(175, 1, 1); /*big titles*/
}
h3.style-scope.ytd-grid-radio-renderer,
a#video-title.yt-simple-endpoint.style-scope.ytd-grid-video-renderer{
       color:rgb(3, 3, 192); /*my mixes titles,other video titles*/
}
yt-formatted-string#byline.style-scope.ytd-video-meta-block,
div#metadata-line.style-scope.ytd-grid-video-renderer{
    color:rgb(194, 66, 194); /*my mixes metadata,info about video*/
}

/*video play colors*/
yt-formatted-string.style-scope.ytd-video-primary-info-renderer{
    color:black; /*video nimi*/
}
span.view-count.style-scope.yt-view-count-renderer,
span.date.style-scope.ytd-video-secondary-info-renderer,
yt-formatted-string#description.content.style-scope.ytd-video-secondary-info-renderer,
yt-formatted-string.content.content-line-height-override.style-scope.ytd-metadata-row-renderer,
span.style-scope.ytd-video-meta-block
{
    color:rgb(226, 225, 225); /*view count,
    video release date,
    video description,
    licence name,
    related videos view count*/
}
div#upnext.style-scope.ytd-compact-autoplay-renderer,div#autoplay.style-scope.ytd-compact-autoplay-renderer{
    color:black;
}/*autoplay, next*/
span#video-title.style-scope.ytd-compact-video-renderer{
    color:black;/*related videos titles*/
}


yt-formatted-string.count-text.style-scope.ytd-comments-header-renderer{
    color:black;/*comment count*/
}
div#icon-label.style-scope.yt-dropdown-menu,
path.style-scope.yt-icon,
yt-formatted-string.style-scope.yt-next-continuation,
yt-formatted-string#text.style-scope.ytd-button-renderer,
span#vote-count-left.style-scope.ytd-comment-action-buttons-renderer,
paper-button.align-by-text.style-scope.ytd-comment-replies-renderer,
yt-formatted-string#text.style-scope.ytd-toggle-button-renderer.style-text,
yt-formatted-string.less-button.style-scope.ytd-video-secondary-info-renderer,
h4#title.style-scope.ytd-metadata-row-renderer,
yt-formatted-string.more-button.style-scope.ytd-video-secondary-info-renderer
{
    color:rgb(165, 119, 161);/*comment sort,
     icons,
     show more,
     comment button text,
     comment vote count,
     show replys button,
     like/dislike count,
     kuva vähem(description),
     kategooria,
     litsents,
     kuva rohkem(description)*/
}

yt-formatted-string#simplebox-placeholder.style-scope.ytd-comment-simplebox-renderer,
textarea#textarea.style-scope.iron-autogrow-textarea{
    color:rgb(168, 164, 164);;/*your comment*/
}

span.style-scope.ytd-comment-renderer,a.yt-simple-endpoint.style-scope.yt-formatted-string{
    color: rgb(206, 1, 1);/*comment author, when commented, links ,channels under videos on main page*/
}
yt-formatted-string#content-text.style-scope.ytd-comment-renderer{
    color:rgb(168, 164, 164);;/*comment*/
}
/*channel page */
div#channel-container.style-scope.ytd-c4-tabbed-header-renderer,
div#tabs-inner-container.style-scope.ytd-c4-tabbed-header-renderer{
    background: linear-gradient(to right, red , yellow,rgb(0, 255, 0), cyan, blue, violet); 
    /*channel name container*/
}
ytd-browse.style-scope.ytd-page-manager{
    background: linear-gradient(to right, red , yellow,rgb(0, 255, 0), cyan, blue, violet); 
       /*background*/
}
ytd-c4-tabbed-header-renderer {
    --yt-lightsource-section1-color: rgb(54, 54, 54);
    --yt-channel-header-background: none;
}
span#channel-title.style-scope.ytd-c4-tabbed-header-renderer{
   color: rgb(148, 0, 0); /*channel name*/
}
yt-formatted-string#subscriber-count.style-scope.ytd-c4-tabbed-header-renderer{
 color: rgb(99, 99, 99); /*subscriber count*/
}
div.tab-content.style-scope.paper-tab{
    color: rgb(43, 35, 43)/*navi nupud*/
}
div#label-text.style-scope.yt-dropdown-menu,
span.title.style-scope.ytd-mini-channel-renderer{
    color: rgb(255, 0, 0);/*channel names*/
}
a.yt-simple-endpoint.style-scope.yt-formatted-string{
    color:rgb(147, 55, 165); /*channel name on channel page under videos*/
}
yt-formatted-string#subtitle.can-be-empty.style-scope.ytd-shelf-renderer{
    color:rgb(104, 103, 103);
    /*text under big title on channel page*/
}