#content{
    background-color: red;
}
#masthead{
    background-color: blue;
}
#guide{
    background-color: green;
}
#playBackground{
    background-color: yellow;
}
#search{
    background-color: purple;
}
